*{
    padding: 0px;
    margin:0px;
}
.home_content{
    height: 100hv;
    width: 100hv;
    position: relative;
   top:5px;
    
   

}
.card{
    position: relative;
    margin:0px auto;
    border:2px solid rgb(88, 88, 88);
    height: 645px;
    width: 550px;
    background-color: rgb(105, 105, 105);
    border-radius: 10px;
    box-shadow: 5px 8px 5px rgb(57, 57, 57);
}
.card_r1{
    position:relative;
    display: flex;
    

}
.card_img{
    position: relative;
    left:10px;
    top:8px;
    height: 40px;
    width: 40px;
    box-shadow: 2px 2px 4px rgb(55, 55, 55);
    border:2px solid rgb(65, 65, 65);
    border-radius: 50px;
    
}
.card_name{
   color:rgb(232, 232, 232);
   position: relative;
   left:20px;
   top:8px;
   font-size:25px;
}
.card_r2{
    border:3px solid rgb(55, 55, 55);
    border-radius: 10px;
    position: relative;
    top:10px;
     display: flex; 
     justify-content: center; 
     background-color: black;
    
    height: 400px;
}
.card_cimg{
    
    position: relative;

}
.card_r3{
    position:relative;
    display: flex;
    flex-wrap: wrap;
    
    

}
.card_like{
    font-size:30px;
    position: relative;
    top:15px;
    left:20px;    

}
.card_comment{
    font-size:30px;
    position: relative;
    top:15px;
    left:40px;
}
.card_join{
    font-size:20px;
   position: relative;
   top:15px;
   left:380px;
   
}
.blank-btn{
    width: 80px;
    height: 30px;
    background-color: rgb(222, 222, 222);
    border-radius: 30px;
}
.plan-box{

   padding-right: 50px;
   padding-left:10px;
   padding-top:5px;
    position: relative;
    display: flex;
    left:20px;
    top:30px;
    font-size: 12px;
    font-family: Arial;
    font-variant: small-caps;
    text-align: left;
    color: rgb(167, 167, 167);
    width: 448px;
    height: 100px;
    border:2px solid rgb(54, 54, 54);
    background-color: rgba(41, 41, 41, 0.695);

}